h1 {
    color :red;
}

body{

   /* background:url(''); /*../img/diary1.jpg*/ 
    max-width:100%;
    height:auto;
}
footer {

}

#home-content {
    text-align:right;
    padding-top:20%;

}
.dropdown-menu {
    font-size: 20px;
  }